<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}"/>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>BuyBye</b>Admin</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Faça login para iniciar sua sessão</p>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    Usuário ou senha inválidos.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">
                    Você foi desconectado.
                </div>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" id="username" name="username" required placeholder="E-mail">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" required placeholder="Senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                    </div>
                </div>
            </form>
            <a th:href="@{/register}" class="text-center">Registrar novo administrador</a>
        </div>
    </div>

    <script th:src="@{/plugins/jQuery/jQuery-2.2.0.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
