<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Lista Marcas</title>
</head>
<body>
    <section layout:fragment="header">
        <h1>
            Lista Marcas
            <small>Painel de Controle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Lista Marcas</li>
        </ol>
    </section>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista Marcas</h3>
                    </div>
                    <div class="box-body">
                        <div class="box-footer center">
                            <a th:href="@{/marca/add}">
                                <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Adicionar
                                </button>
                            </a>
                        </div>
                        <div th:if="${param.success}">
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                                Marca cadastrada com sucesso.
                            </div>
                        </div>
                        <div th:if="${param.deleted}">
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Deletado</h4>
                                Marca deletada com sucesso.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="example1_info">
                                    <thead class="thead">
                                    <tr>
                                        <th>ID Marca</th>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="marca : ${listMarca}">
                                            <td th:text="${marca.id}"></td>
                                            <td th:text="${marca.name}"></td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/marca/edit/' + ${marca.id}}"><i class="fa fa-edit"></i> Editar</a>
                                                <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/marca/edit/' + ${marca.id}}"><i class="fa fa-trash-o"></i> Excluir</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script>
          $(function () {
            $('#example1').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : true,
              'ordering'    : true,
              'info'        : true,
              'autoWidth'   : false
            })
            jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
          })
        </script>
    </th:block>
</body>
</html>
